<!-- <h1>QueryOneStop is here !</h1> -->
<div *ngIf="!isUserLoggedIN">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">QueryOneStop</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
    <button mat-button routerLink="/signup" routerLinkActive="active">SignUp</button>
  </mat-toolbar>
</div>
<div *ngIf="isUserLoggedIN">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">QueryOneStop</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/user/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button (click)="logout()" routerLinkActive="active">Logout</button>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>